main/auth/confirm_session_subscription.tpl
<div class="row">
    <div class="col-sm-3 col-sm-offset-3">
        <a href="{{ _p.web_main }}auth/courses.php?{{ {'action':'subscribe_to_session', 'session_id':session_id, 'confirm':'1'}|url_encode() }}" class="btn btn-success btn-block">
            {{ 'Yes'|get_lang }}
        </a>
    </div>
    <div class="col-sm-3">
        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">{{ 'No'|get_lang }}</button>
    </div>
</div>
