main/export/alt_pdf_footer.tpl

<table border="0" class="full-width border-top page-footer">
    <tr>
        <td class="text-center">
            <strong>{{ _s.institution }}</strong>
            <br>
            <strong>{PAGENO} / {nb}</strong>
        </td>
    </tr>
</table>
