main/export/pdf_header.tpl
<table border="0" width="100%" class="pdf-header">
    <tr>
        <td width="30%">
            {{ organization }}
        </td>
        <td width="80%" style="text-align: right; font-size: 12px; color: #666666;">
            <strong>{{ teacher_name }}</strong>
        </td>
    </tr>
</table>

