.grid-courses .items.my-courses{
    border-radius: 1.5rem;
    border: none;
}

.grid-courses .items .image{
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    overflow: hidden;
}

h1.school-name{
    color: #303C47;
    font-weight: 600;
    margin-top: 0;
    padding-bottom: .25rem;
    margin-bottom: 4.5rem;
}

h1.school-name::after{
        content: "";
        border-top: .20rem solid #303C47;
        width: 4rem;
        position: absolute;
        left: 15px;
        top: 4.8rem;
}

.big_icon img{
    border : 1.5px solid #00ADC7;
    box-shadow: none;
}

.big_icon img:hover{
    box-shadow : 0 0 8px #00ADC711;
}

.page-header{
    border-bottom: 1px solid #00ADC7;
}

.title-tools{
    font-size: 2rem;
}

.course-tool .content a{
    color : #333333;
}

.big_icon img{
    max-height: 64px;
}

.block-author a img{
    display: none;
}
.grid-courses .items .block-author .teachers-details h5 a{
    color:#A8ABB7;
    font-weight: 500;

}


/* 
    NOTIFICACIONES    
*/
.btn-notifications{
    border:none;
    background: none;
    outline: none;
}
.notifications-bell{
    background-image: url('images/bell.png');
    width: 2rem;
    height: 2rem;
    border:none;
    background-size: contain;
    transform: rotate(10deg);
}
.my-courses{
    position: relative;
}
.float-notifications{
    position: absolute;
    z-index: 1;
    right: 4px;
}

.float-notifications .dropdown-menu{
    margin-left: -125px;
}
/* 
    TERMINA NOTIFICACIONES
*/

.my-courses .description .title a{
    color : #3D4753;
    margin-left: 10px;
}

.grid-courses .items .block-author{
    margin-bottom: 1rem;
}