.grid-courses .items .description{
    min-height: 2rem;
}

.grid-courses .items.my-courses .title{
    font-size: 2rem;
}

.grid-courses .items .block-author .teachers-details h5 a {
    font-size: 1.5rem;
}

.grid-courses .items .block-author .teachers-details p{
    color: #AAAAAA;
}