/* Cabeceras de los paneles */
.panel-default>.panel-heading{
    background: none;
}

.sidebar{
    box-shadow: 0 0 6px #4D4D4D33;
    background-color: white;
    border-radius: 1.5rem;
    padding: 2rem;
    margin-bottom: 3.5rem;
    padding-top: 4.5rem;
}

#user_image_block{
    margin-bottom: 5rem;
    padding-top: 2rem;
    display: none;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
    border:none
}

.panel-default{
    border: none;
    box-shadow: none;
    background: none;
}

.list-group .item-icon{
    display: none;
}

.list-group > li{
    list-style: none;
    padding: .55rem 0;
}

.list-group > li > a{
    margin-left: .75rem;
}

.panel-heading a{
    text-transform: uppercase;
    color : #CCCCCC;
    font-size: 1.4rem;
    font-weight: 700;
}

.panel-heading a{
    text-transform: uppercase;
    color : #CCCCCC;
    font-size: 1.2rem;
    font-weight: 700;
}

.list-group > li > a{
    font-size: 1.5rem;
    color : #333333;
    margin-left: 0;
}