/*!
 * Chamilo LMS stylesheet - Default v.2.0
 * Homepage: https://chamilo.org
 * Author: Alex Aragón <alex.aragon@beeznest.com>
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 * Based on Bootstrap v3
*/

html {
    background-color: transparent;
}

.container-fluid {
    padding-right: 5rem;
    padding-left: 5rem;
    margin-right: auto;
    margin-left: auto;
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(./fonts/Dosis-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/Dosis-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(./fonts/Dosis-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(./fonts/Dosis-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./fonts/Dosis-ExtraBold.ttf) format('truetype');
}

body {
    margin: 0;
    font-family: 'Dosis', sans-serif;
    background-color: #F5FCFF;
    background-size: contain;
}

#cm-content {
    margin-bottom: 6rem;
}

a {
    color: #00ADC7;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #2E75A3;
    text-decoration: none;
}

a:focus {
    outline: none;
}


/* ------------------------------------------
  NAVBAR
------------------------------------------ */

.main-title {
    color: white;
    font-size: 3.75rem;
    font-weight: 700;
}

.main-title::before {
    background-image: url('./images/miaula_icon.png');
    background-size: 28px 29px;
    display: inline-block;
    width: 28px;
    height: 29px;
    content: "";
}

.main-title::after {
    content: 'Mi Aula';
    padding-left: .82rem;
}

.navbar-nav>li {
    margin-bottom: 0;
}

.navbar-collapse {
    overflow: hidden !important;
}

.navbar-default {
    background: transparent;
    border: none;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-nav>li {
    border-bottom: 1.5px solid #FFFFFF80;
    font-weight: 500;
}

.homepageactive,
.my-courseactive,
.agendaactive,
.my-spaceactive,
.social-networkactive,
.adminactive {
    border-bottom: 1.5px solid white !important;
}

.navbar-default .navbar-nav>li>a {
    color: #FFFFFFCC;
    font-size: 1.75rem;
}

.homepageactive>a,
.my-courseactive>a,
.agendaactive>a,
.my-spaceactive>a,
.social-networkactive>a,
.adminactive>a {
    color: white !important;
}


/* .navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
  background: #18477A;
  color: #ffffff;
} */

.navbar-nav>li>.dropdown-menu {
    min-width: 100%;
    margin-top: 2px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.navbar-default .navbar-nav>.open>.dropdown-menu {
    padding: 3px 4px;
}

.navbar-default .navbar-nav>.open>.dropdown-menu>li>a {
    padding: 6px 9px;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: transparent;
}

.navbar-form .form-control {
    height: 25px;
    padding: 6px;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #2C5B8E;
}

.navbar-default .navbar-toggle {
    border-color: #00677C;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #2C5B8E;
}


/* ------------------------------------------
  END NAVBAR
------------------------------------------ */

.badge-warning {
    background-color: #FD6600;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 21px;
    list-style: outside none none;
    background-color: #ECF0F1;
}

.breadcrumb>.active {
    color: #95a5a6;
}

.panel-default {
    border-color: #ECF0F1;
}


/* Jquery UI */

.ui-accordion .ui-accordion-icons {
    padding-left: 0.2em;
}


/* End Jquery UI */

.bgfooter {
    background-color: #1A2226;
}

.bgfooter {
    color: #ffffff;
}

.bgfooter a {
    color: #ffffff;
}