/* @import '../../App.css'; */

:root {
    --main-color: #00ADC7;
}

#cm-header {
    background-color: #00ADC7;
    background-image: url('images/bg_icons_1.png');
    background-size: cover;
    margin-bottom: 1.2rem;
}

.navbar-nav {
    padding-bottom: 1.25rem;
}

.breadcrumb {
    background-color: transparent !important;
}

.dropdown-horizontal {
    display: inherit;
}

.dropleft .dropdown-menu {
    top: 100% !important;
    right: 0 !important;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

.navbar-right{
    display: none;
}


/** ------------------------------
    Cabecera principal
------------------------------- */

.navbar-sie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

.logo-sie {
    content: url('./images/logo_educar.png');
    max-height: 40px;
    background-color: var(--main-color);
    box-shadow: 0 0 5px var(--main-color);
}

.btns-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.5rem;
}

.dropdown-horizontal {
    align-items: center;
}


/* Iconos de la cabecera */

.img-brand {
    width: 20px;
    height: 20px;
}

.btn-activate,
.btn-activate:not(:disabled):not(.disabled):active {
    font-family: 'Dosis';
    font-weight: 600;
    padding: .5rem 2.5rem;
    background-color: white;
    border-color: var(--main-color);
    color: var(--main-color);
}

.btn-activate:hover {
    background-color: var(--main-color);
    border-color: white;
    color: white;
}

.btn-activate:focus {
    outline: none;
    box-shadow: none;
    background-color: white;
    color: var(--main-color);
    border-color: var(--main-color);
}


/** ------------------------------
    Termina cabecera principal
------------------------------- */


/** ------------------------------
    Menú de las herramientas SIE
------------------------------- */

.tools-menu {}

.btn-tools {
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
    background-image: url('./images/menu.png');
    background-size: contain;
    cursor: pointer;
}

.tools-menu ul {
    padding: 0;
    margin-bottom: 0;
}

.tools-menu .dropdown-menu {
    /* min-width: 320px; */
    padding-top: 1rem;
}

.tools-menu ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    /* background: red; */
    border: 1px solid white;
}

.tools-menu ul li>p {
    text-align: center;
    font-weight: bold;
    font-size: 0.7rem;
    padding-top: 0.4rem;
    color: #555555;
}


/** -------------------------------------
    Termina menú de las herramientas SIE
-------------------------------------- */

.provisional-btn-topbar {
    color: white;
    font-size: 1.5rem;
    float: right;
    margin-top: 3rem;
    margin-right: 6rem;
}


/** -------------------------------------
    Menú con opciones del usuario
-------------------------------------- */

.user-preferences-menu {
    margin-left: 1.7rem;
}

.avatar {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 2rem;
    background-color: #FFFFFF;
    border: 2px solid #DDDDDD;
    cursor: pointer;
}

.user-preferences-menu ul {
    padding-left: 0;
}

.user-preferences-menu ul li {
    padding: .24rem .82rem;
    margin: .14rem .2rem;
}

.user-preferences-menu ul li:hover {
    cursor: pointer;
    border-radius: 2rem;
    background-color: #F1F1F1;
}

.user-preferences-menu ul li a>img {
    margin-right: .60rem;
    width: 1rem;
    height: 1rem;
}

.user-preferences-menu .dropdown-menu {
    max-height: 50vh;
    overflow-y: scroll;
    width: 13rem;
}

.user-preferences-menu a {
    font-size: .92rem;
    color: #4D4D4D;
}


/** ---------------------------------------
    Termina menú con opciones del usuario
---------------------------------------- */

.dropdown .dropdown-menu {
    display: block;
    opacity: 0;
    z-index: -99;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    margin-top: 1rem;
}

.open .dropdown-menu {
    opacity: 1;
    z-index: 99;
}