main/layout/hot_course_item_popup.tpl
{% for hot_course in hot_courses %}               
    {% if hot_course.extra_info.title %}        
        <div class="row">
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="{{ hot_course.extra_info.course_image }}" alt="{{ hot_course.extra_info.title }}" />
                </div>
            </div>
            <div class="col-sm-9">
                <div class="categories-course-description">
                    <h3>{{ hot_course.extra_info.title }}</h3>
                    <h5>{{ hot_course.extra_info.teachers }}</h5>
                    {# hot_course.extra_info.rating_html #}
                </div>
                <p>
                    {{ hot_course.extra_info.description_button }}
                    {{ hot_course.extra_info.go_to_course_button }}
                    {{ hot_course.extra_info.register_button }}
                </p>
            </div>
        </div>
    {% endif %}
{% endfor %}
