main/mail/content_registration_platform_to_admin.tpl
<p>{{ 'UserXWithLangXRegisteredTheSite'| get_lang | format(user_added.completeName, user_added.language) }} </p>

<p>{{ 'HisProfileIs'| get_lang }} </p>

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="form-horizontal">
            {{ form }}
        </div>
    </div>
</div>

<p>{{ 'YouCanAssignATutorInThisLinkX'|get_lang | format(link)}} </p>
<p>{{ 'SignatureFormula'|get_lang }}</p>
<p>{{ _admin.name }}, {{ _admin.surname }}<br>
    {{ 'Manager'|get_lang }} {{ _s.site_name }}<br>
    {{ _admin.telephone ? 'T. ' ~ _admin.telephone }}<br>
    {{ _admin.email ? 'Email'|get_lang ~ ': ' ~ _admin.email }}</p>
