main/mail/content_ending_learnpath.tpl
<p>{{ 'DearXComma'|get_lang|format(name_teacher) }}</p>
<p>{{ 'TheStudentXHasFinishedTheCourseYLessons'|get_lang|format(name_student, course_name) }}</p>
<p>{{ course_url }}</p>
<p>{{ 'SignatureFormula'|get_lang }}</p>
<p>{{ prefix ? prefix }}</p>
<br>
