main/mail/footer.tpl
<div class="footer" style="clear: both; Margin-top: 10px; text-align: center; width: 100%;">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;">
        <tr>
            <td class="content-block powered-by" style="font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;">
                <a style="color: #999999; font-size: 12px; text-align: center; text-decoration: none;" href="{{_p.web}}" target="_blank">
                    {{ "PoweredByX" |get_lang | format(_s.software_name) }}
                </a>&copy; {{ "now"|date("Y") }}
            </td>
        </tr>
    </table>
</div>