main/mail/subscribe_me_to_session.tpl
{{ 'PleaseSubscribeMeToSession' | get_lang }}: {{ session_name }}

{{ 'ContactInformation' | get_lang }}:
{{ 'Name' | get_lang }}: {{ user.complete_name }}
{{ 'Username' | get_lang }}: {{ user.username }}
{{ 'Email' | get_lang }}: {{ user.email }}
