main/my_space/course_summary.tpl
<div class="summary-legend">
    {{ table }}
</div>
<script type="text/javascript">
    $(function() {
        $('.easypiechart-blue').easyPieChart({
            scaleColor: false,
            barColor: '#30a5ff',
            lineWidth:8,
            trackColor: '#f2f2f2'
        });
    });
    $(function() {
        $('.easypiechart-red').easyPieChart({
            scaleColor: false,
            barColor: '#f9243f',
            lineWidth:8,
            trackColor: '#f2f2f2'
        });
    });
</script>